/* Color Theme Swatches in Hex */
$Hulk-1-hex: #3A006B;
$Hulk-2-hex: #1E4521;
$Hulk-3-hex: #00470E;
$Hulk-4-hex: #38CC31;
$Hulk-5-hex: #2DB300;

/* Color Theme Swatches in RGBA */
$Hulk-1-rgba: rgba(57,0,107, 1);
$Hulk-2-rgba: rgba(29,68,33, 1);
$Hulk-3-rgba: rgba(0,70,14, 1);
$Hulk-4-rgba: rgba(55,204,48, 1);
$Hulk-5-rgba: rgba(44,178,0, 1);

/* Color Theme Swatches in HSLA */
$Hulk-1-hsla: hsla(272, 100, 21, 1);
$Hulk-2-hsla: hsla(124, 39, 19, 1);
$Hulk-3-hsla: hsla(131, 100, 13, 1);
$Hulk-4-hsla: hsla(117, 61, 49, 1);
$Hulk-5-hsla: hsla(105, 100, 35, 1);