body {
    font-family: 'Saira', sans-serif;
}
.navbar {
    background-color: black;
}
.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}
.foodless {
    color: firebrick;
}
.optional {
    color: green;
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); }

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to left,black, green, lime);
    color: white;
}
.carousel {
    border: solid black;
    border-top: none;
}

.card-deck {
    padding-top: 30px;
}