body {
    font-family: 'Saira', sans-serif;
}
.navbar {
    background-color: black;
}
.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}
.foodless {
    color: firebrick;
}
.optional {
    color: green;
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); }

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to left, black, green, lime);
    color: white;
}

.card-deck, .card-columns {
    padding-top: 30px;
}

ol li {
    font-style: italic;
}

.contrast {
    background-color: #3A006B;
    color: white;
}